[submodule "safe-smart-account"]
	path = safe-smart-account
	url = https://github.com/safe-global/safe-smart-account.git
[submodule "contracts"]
	path = contracts
	url = https://github.com/Layr-Labs/nitro-contracts.git
	commit = 67d9c912c40b92f2246cd057af25b3f3067f5c37
